.parallax {
  font-family: 'sans-serif';
  text-align: 'center';
  background-color: 'white';
  max-width: '100%';
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.textParallax {
  position: relative;
  top: 18%;
  font-family: inherit;
  text-align: center;
  font-size: 2rem !important;
  text-align: 'center';
}

.imgParallax {
  width: 335px;
  position: relative;
  max-width: 100%;
  height: auto;
  padding-top: 9%;
  left: 33%;
}
