.bottomBlueBorder-text {
  text-align: center;
  display: inline-block;
  color: #151d41;
  font-weight: lighter;
  font-size: 30px;
  border-bottom: 2px solid rgb(21, 29, 65, 0.7);
  padding: 20px 0 10px 0;
  margin-bottom: 30px;
}
.bottomGreenBorder-text {
  font-family: 'Roboto';
  display: inline-block;
  color: #151d41;
  font-weight: bold;
  font-size: 15px;
  border-bottom: 2px solid #136235;
  padding: 2px 0 2px 0;
  margin-bottom: 10px;
}
#a {
  font-family: 'Roboto';
  color: #151d41;
  font-weight: bold;
  font-size: 15px;
  padding: 2px 0 2px 0;
}

.margin {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
